!!! 5
%html(lang="en-US")
  %head
    %title Trinket
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    = render 'layouts/my_menu'
    
    %div.main-content
      = render 'layouts/navbar'
      = render 'layouts/flash'
      = yield
    = render 'layouts/footer'


